html,
body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

/*---------- >- Variables CSS----------*/

:root {
    /* Colores personalizados */
    --text-brown: #a23131;
    --text-light: #c53c3c; 
    --bg-color: #e8ecd6;
    --white: #fdfff0;
    --midnight: #a1dd70;


    /* Gradientes */
    --sky: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);;
}

/*---------- X- Variables CSS----------*/

/*---------- >- Clases Globales ----------*/

a {
    text-decoration: none;
    color: var(--text-brown);
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.3rem;
}

.btn {
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    cursor: pointer;
}
/*---------- X- Clases Globales ----------*/

/*---------- >- Barra de Navegacion ----------*/

.nav {
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 9.5vh;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.nav .nav-menu {
    justify-content: space-between;
}

.nav .toggle-collapse {
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i {
    font-size: 1.4rem;
    color: var(--text-brown);
}

.collapse {
    height: 32rem;
    transition: 0.5s ease-in-out;
}   

.nav .nav-items {
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link {
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-size: 1.1rem;
    transition: 0.5s;
}

.nav .nav-items .nav-link a {
    transition: 0.5s;
}

.nav .nav-items .nav-link:hover {
    background-color: var(--text-brown);
}
.nav .nav-items .nav-link a:hover {
    color: var(--white);
}

.nav .nav-brand a {
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
}

.nav .social {
    padding: 1.4rem 0;
}

.nav .social i {
    padding: 0 .2rem;
}

.nav .social i:hover {
    color: var(--text-light);
}
/*---------- X- Barra de Navegacion ----------*/

/*---------- >- Contenido Principal ----------*/

/*---------- >- Titulo pagina ----------*/
main .site-title {
    background: url('../assets/Background-image.png');
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
}

main .site-title .site-bg {
    padding-top: 10rem;
    text-align: center;
    color: var(--white);
}

main .site-title h1, h3 {
    margin: 0.3rem;
}

main .site-title .btn {
    margin: 1.8rem;
    background: var(--sky);
    transition: 0.2s ease-in-out;
}

main .site-title .btn:hover {
    background: transparent;
    border: 2px solid var(--white);
    color: var(--white);
}
/*---------- X- Titulo pagina ----------*/



/*---------- X- Contenido Principal ----------*/

/*---------- >- Viewport menor o igual a 750px ----------*/

@media only screen and (max-width:750px) {

    .nav .nav-menu, 
    .nav .nav-items {
        flex-direction: column;
    }

    .nav .toggle-collapse {
        display: initial;
    }

    .nav .toggle-collapse .toggle-icons i:hover {
        color: var(--text-light);
    }
}

/*---------- X- Viewport menor o igual a 750px ----------*/